*.DS_Store
INFO 2000/VidExamples/example_7/
.DS_Store
EGR 230/.DS_Store
INFO 3000/MiniProjects/.DS_Store
INFO 3000/.DS_Store
INFO 2000/MiniProjects/01. Listserv_Generator/.DS_Store
INFO 2000/MiniProjects/.DS_Store
INFO 2000/InstructorSolutions/.DS_Store
INFO 2000/Homeworks/Assignment5/.DS_Store
INFO 2000/Homeworks/Assignment3/.DS_Store
INFO 2000/Homeworks/Assignment2/MyCode/.DS_Store
INFO 2000/Homeworks/Assignment2/.DS_Store
INFO 2000/Homeworks/.DS_Store
INFO 2000/Exercises/01. Executing_Python/.DS_Store
INFO 2000/Exercises/.DS_Store
INFO 2000/.DS_Store
EGR 230/.DS_Store
INFO 2000/VidExamples/.DS_Store
INFO 2000/VidExamples/01.HelloWorld/.DS_Store
INFO 2000/VidExamples/10.Classes/.DS_Store
INFO 2000/VidExamples/11.Modules&VSCode/.DS_Store
INFO 2000/VidExamples/13.DateTime&Pandas/.DS_Store
INFO 2000/VidExamples/14.Matplotlib/.DS_Store
INFO 2000/VidExamples/16.Flask/.DS_Store
INFO 2000/VidExamples/16.Flask/example/.DS_Store
INFO 2000/VidExamples/19. SQL/.DS_Store
INFO 2000/VidExamples/21.WebAPIs/.DS_Store
INFO 3000/.DS_Store
INFO 3000/Excercises/.DS_Store
INFO 3000/Homeworks/.DS_Store
INFO 3000/InstructorSolutions/.DS_Store
INFO 3000/MiniProjects/.DS_Store
INFO 3000/MiniProjects/02. PytorchCNN/.DS_Store
INFO 3000/MiniProjects/03. ClassificationWebapp/.DS_Store
INFO 3000/VidExamples/.DS_Store
INFO 3000/VidExamples/20.ConvolutionNeuralNet (CNN)/.DS_Store
INFO 3000/VidExamples/20.ConvolutionNeuralNet (CNN)/results.pth
INFO 2000/.DS_Store
INFO 2000/VidExamples/webapi4_cloud.mp4
INFO 2000/VidExamples/webapi5_dnshttps.mp4
INFO 2000/VidExamples/webapi6_deployment.mp4
INFO 2000/.DS_Store
INFO 3000/.DS_Store
INFO 3000/VidExamples/.DS_Store
INFO 2000/.DS_Store
INFO 3000/MiniProjects/.DS_Store
*.gz
INFO 3000/MiniProjects/.DS_Store
INFO 3000/MiniProjects/.DS_Store
INFO 3000/MiniProjects/.DS_Store
CSCI 4900/placeholder.txt
/CSCI 4900/data.cifar10
/CSCI 4900/Homework/01-Neural-Network-Classifier/data.cifar10
INFO 3000/Homeworks/.DS_Store
/CSCI 4900/Homework/02-Convolutional-Neural-Network/__pycache__
/CSCI 4900/Homework/02-Convolutional-Neural-Network/data.cifar10
CSCI 4900/Homework/02-Convolutional-Neural-Network/model/cnn_model_42.pt
CSCI 4380/03-CRAGFinalProject/Amazon_Unlocked_Mobile.csv
CSCI 4380/03-CRAGFinalProject/outputs/clustered_reviews.csv
CSCI 4380/03-CRAGFinalProject/Project Document.pdf
INFO 2000/.DS_Store
INFO 2000/Exercises/.DS_Store
INFO 3000/MiniProjects/.DS_Store
